@import url('https://fonts.googleapis.com/css?family=Montserrat');

body, html {
	height: 100%;
}

body {
	display: grid;

	grid-template-areas: 
		"sidebar right"
		"footer footer";

	grid-template-rows: auto 50px;
	grid-template-columns: 12% auto;

	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
	float: right;
}

ul li {
	display: inline;
}

ul li a {
	color: #fff;
	padding: 15px;
}

#logo {
	background-color: #F3F1C7;
	color: #298383;
	display: inline-block;
	font-weight: bold;
	
/*	grid-column-start: logo-start;
	grid-column-end: span  nav-end;*/
	margin-left: 15px;
	padding: 15px;
	text-align: center;
}


header {
	background-color: #41C7C7;
	display: grid;
	grid-template-columns: [logo-start] fit-content(20%) [nav-start] auto [nav-end];
}

section#hero {
	background-color: #36ADAD;
	border-top: 5px solid #2EA0A0;
	padding: 2em;

	display: grid;
	grid-template-columns: repeat(2, auto);
}

#content h1 {
	color: #FFFBC5;
	text-transform: uppercase;
}

#content p {
	color: #fff;
}

img {
	background-size: cover;
	margin: 0 auto;
	max-width: 100%;
}

#mountain {
	border-radius: 50%;

	height: 200px;
	width: 200px;
}

.sidebar {
	background-color: #1c9090;
	color: #fff;
	grid-area: sidebar;
	padding: 1em;
}

.main {
	display: grid;
	grid-area: right;
	grid-template-rows: 51px fit-content(30%);
}

footer {
	background-color: lightgray;
	grid-area: footer;
}

#features {
	display: grid;

	/*This property below creates 5 columns of equal length*/
	grid-template-columns: repeat(5, auto);
	
	/*This property below creates column gaps of 10px*/
	grid-column-gap: 10px;
	grid-row-gap: 10px;
}

ul#features i {
	font-size: 2em;
}

ul#features {
	margin: 0;
	padding: 0;
}

ul#features li {
	background-color: lightgray;
	padding: 1em;
}

ul#features li p {
	color: #4C4C4C;
}

#features-two {
	display: grid;
	grid-template-columns: repeat(2, auto);

	/*This property below creates two rows of equal length*/
	grid-template-rows: repeat(2, auto);

	grid-column-gap: 10px;

	/*This property below creates row gaps of 10px*/
	grid-row-gap: 10px;
}

ul#features-three {
	background-color: #93C873;
	padding: 1em;
	text-align: center;
	width: 70%;

	align-items: end;
	display: grid;
	grid-template-columns: repeat(3, auto);

	/*This property creates rows that align from the right*/
	/*justify-items: end;*/
}

ul#features-three li:nth-child(3) {
	justify-self: end;
}


ul#features-three li p {
	color: #4C4C4C;
	/*background-color: green;*/
}

ul#features-three li:nth-child(1) {
	background-color: #A0D87D;
}

ul#features-three li:nth-child(2) {
	background-color: #BEF19E;
}

ul#features-three li:nth-child(3) {
	background-color: #A0D87D;
}

ul#features-four {
	background-color: #E9B1EF;
	padding: 2em;
	width: 60%;

	display: grid;
	grid-column-gap: 20px;

	/*This property is an example of a fixed-width column*/
	grid-template-columns: 800px;

	/*This makes it look totally off! Commenting it out*/
	justify-content: space-around;

}

ul#features-four li p {
	background-color: #fff;
}


/*First Media Query for Tablet*/
@media screen and (max-width: 60em) {
	.sidebar {
		display: none;
	}

	body, html {
	height: 100%;
	}

	body {
		display: grid;

		grid-template-columns: auto;
		grid-template-areas:
			"right"
			"footer";
	}

	/*Covered a bit on renaming grids so that they are in a different order*/
	/*for tablet. Found it a bit confusing, so I'll have to review*/
	/*grid-template-areas and naming*/

	#features {
		grid-template-columns: repeat(2, auto);
		grid-template-rows: repeat(3, auto); 
	}

	ul#features li:nth-child(5) {
		/*This feature allows the fifth column to span all*/
		/*/*the way to the second column. Cool feature!*/
		grid-column: 1 / span 2;
	}

	#features-two {
		grid-template-columns: repeat(2, auto);
		grid-template-rows: repeat(3, auto);
	}

	#features-three {
		grid-template-columns: repeat(2, auto);
		grid-template-rows: repeat(3, auto);
	}

	#features-four {
		grid-template-columns: repeat(2, auto);
		grid-template-rows: repeat(3, auto);
	}

}


/*Media Query for SmartPhone*/
@media screen and (max-width: 40em) {

	.main {
		grid-template-rows: auto fit-content(30%) 40% auto;
	}

	header {
		grid-template-columns: auto;
		grid-template-rows: repeat(2, auto);
	}

	/*Didnt work right*/
	#logo {
		margin-left: 0;
	}

	/*Didnt work right*/
	nav {
		margin-left: 0;
	}

	nav ul {
		float: none;
		margin: 0;
		padding: 0;
		width: 100%;
	}


	nav ul li a {
		display: inline-block;
		font-size: .9em;

		/*Do more research and practice on 
		the width: calc() function*/
		width: calc(25% - 155px);
	}

	section#hero, section#info {
		grid-template-columns: auto;
		text-align: center;
	}

	h1, h2 {
		font-size: 1.2em;
	}

	#mountain {
		height: 100px;
		width: 100px;
	}

	#content p, #content2 p {
		font-size: .9em;
	}

	#features {
		grid-template-columns: repeat(2, auto);
		grid-template-rows: repeat(4, auto);
	}

	ul#features li:nth-child(2), ul#features li:nth-child(1) {
		grid-column: 1 / span 2;
	}

	footer {
		background-color: #41C7C7;
	}

	footr p {
		color: #fff;
		text-align: center;
	}
}


